<span id="todo-count"><strong>{{remaining}}</strong> {{#if remaining = 1}}item{{else}}items{{/if}} left</span>
<ul id="filters">
  <li>
    <a class="selected" href="#/">All</a>
  </li>
  <li>
    <a href="#/active">Active</a>
  </li>
  <li>
    <a href="#/completed">Completed</a>
  </li>
</ul>
{{#compare completed 0 operator=">"}}
<button id="clear-completed">Clear completed ({{completed}})</button>
{{/compare}}